<% include ./partials/header %>

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>About</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->
    
    <!-- product list part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h5>Our Mission</h5>
                        <h3> is to promote the best valued gift cards for best rewards.

<br>
Over more than $100B gift card market, we provide you information of various brands and guide you to the right offers which will be helpful in making decision on the gift cards.
We promote you brand and make your make your brand popular. We provide smart solutions for Incentive options, Brand marketing And Payment solutions through Gift cards</h3>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->

    <!-- feature part here -->
    <section class="feature_part section_padding">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="feature_part_tittle">
                        <h3>Credibly innovate granular
                        internal or organic sources
                        whereas standards.</h3>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="feature_part_content">
                        <p>selection of gift cards, prepaid telecom handsets, airtime cards and general purpose reloadable cards across a global network totalling more that 180,000 locations worldwide. Through Blackhawk’s digital platform, the company supports prepaid products across a growing network of digital distribution partners including leading retailers, financial service providers, social apps, mobile wallets and other integrated physical-to-digital channels. Founded in 2001, Blackhawk Network is headquartered in Pleasanton, California USA with more than 1,000 employees, and offers products and services in the United States as well as 21 other countries..</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="assets/img/icon/feature_icon_1.svg" alt="#">
                        <h4>Easy Shopping</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="assets/img/icon/feature_icon_2.svg" alt="#">
                        <h4>Custom Gift Cards</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="assets/img/icon/feature_icon_3.svg" alt="#">
                        <h4>24/7  Support</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="assets/img/icon/feature_icon_4.svg" alt="#">
                        <h4>Product with Gift</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature part end -->
    
    <!-- client review part here -->
    <section class="client_review">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="client_review_slider owl-carousel">
                        <div class="single_client_review">
                         
                            <p>"I thank Gift Cards WW for the amazing Experience.</p>
                            <h5>- Sandeep</h5>
                        </div>
                        <div class="single_client_review">
                           
                            <p>"Things made Easy excellent expereience.</p>
                            <h5>- Mahesh </h5>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review part end -->

    <!-- subscribe part here -->
    <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>Get promotions & updates!</h2>
                        <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                        <div class="subscribe_form">
                            <input type="email" placeholder="Enter your mail">
                            <a href="#" class="btn_1">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe part end -->

   <% include ./partials/footer %>